body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #bc1010;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1,
  h2 {
    margin: 0;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  section.tour {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
    text-align: center;
  }
  
  .tour-title {
    margin-bottom: 10px;
  }
  
  .tour-details {
    margin-bottom: 10px;
  }
  
  .tour-price {
    font-weight: bold;
  }
  
.tour img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adjust as needed */
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section.tour {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px; /* Reduce padding */
    width: 250px; /* Reduce width */
    text-align: center;
}

.tour img {
    max-width: 100%; /* Adjust image size */
    height: auto;
    margin-bottom: 10px;
}